<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Series Fibonacci</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>Series Fibonacci</div>
    <a th:href="@{/fibonacci/save}">Generar Fibonacci</a>
    <table border="1">
        <thead>
            <tr>
                <th>Semilla 1</th>
                <th>Semilla 2</th>
                <th>Cantidad</th>
                <th>Serie</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="serie : ${series}">
                <td th:text="${serie.seed1}"></td>
                <td th:text="${serie.seed2}"></td>
                <td th:text="${serie.count}"></td>
                <td th:text="${serie.numbers}"></td>
                <td th:text="${#dates.format(serie.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>